/*General formatting - colors and fonts*/

body {
  background-color: rgb(230, 230, 230) ;
  color: rgb(90, 90, 90);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  }

h1,h2 {
  color: #27542F;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

a {
  color:rgb(90, 90, 90);
  text-decoration: none;
}

a:hover {
  color: #27542F ;
}


.img-circle{
  border-radius: 50%;
}



.btn-green{
  background-color: #27542F;
  color: white;
  padding: 15px 20px;
  border-radius: 5%;
  text-decoration: none;
}

.btn-green:hover{
  color: white;
  background-color: grey;
}

.container{
  width: 1000px;
  margin: 40px auto;
}

@media(max-width:  500px){
  .container {
    width: 400px;
  }
}

@media(max-width:  760px){
  .container {
    width: 500px;
  }
}

.card-white{
  padding: 40px;
  margin: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.list-left{
  text-align: left;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline li{
  display: inline;
  padding: 5px;
}

.list-inline i{
  font-size: 40px;
  color: rgb(90, 90, 90) ;
}


.list-inline i:hover {
  color: #27542F ;
}


#introduction p {
  margin-bottom: 40px;
}


